# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Local env files
.env

# Node / frontend
node_modules/
build/
dist/

# Editor
.vscode/
.idea/
.DS_Store

# Docker
docker-compose.override.yml
*.log

# Misc
*.sqlite3
