fastapi==0.103.0
uvicorn==0.23.2
sqlparse==0.4.4
psycopg2==2.9.9
psycopg2-binary==2.9.10
python-dotenv==1.0.0

sentence-transformers==5.1.1
scikit-learn==1.7.2
torch==2.8.0
transformers==4.56.2

pytest==8.4.2  
black==25.9.0  
flake8==7.3.0  

